/* General Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  height: 40px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.navbar-nav .nav-item {
  margin-left: 32px;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #5AACCF;
}

/* Hero Section */
.hero {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.hero-text {
  color: #333;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.hero-text p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.hero-image img {
  border-radius: 2%;
  max-width: 50%;
  height: auto;
  transition: transform 0.3s ease;
  margin-left: 160px;
}

/* Hover effect on the image */
.hero-image img:hover {
  transform: scale(1.05);
}

/* Animation for changing the h1 text */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Text change effect */
@keyframes changeText {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Animation class for switching h1 text */
.animated-text {
  animation: changeText 6s infinite;
}

.animated-text::after {
  content: " I'm a product designer.";
  opacity: 0;
  animation: changeText 6s infinite;
}

/* Animation delay for switching text */
.animated-text {
  animation-delay: 3s;
}

/* Media Queries for Mobile */
@media (max-width: 767px) {
  .navbar-nav {
    justify-content: flex-end;
  }

  .hero-container {
    text-align: center;
  }

  .hero-image img {
    max-width: 60%;
    margin: 20px 0;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  /* Adjust the hero section for mobile screens */
  .hero {
    padding: 20px 0;
    min-height: 250px;
  }
}

/* Project Section */
.projects {
  padding-left: 0;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  padding: 0;
}

/* Project Cards */
.project-card {
  width: 100%;
  max-width: 800px; 
  height: 300px;  
  margin-bottom: 60px;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: transform 0.3s ease;
  flex-direction: row;
  border-radius: 10px;
  display: flex;
  align-items: stretch;  
}

.project-card:hover {
  transform: scale(1.05);
}

/* Card Image */
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1.15rem;
  color: #555;
  margin-bottom: 15px;
}

.card-tags {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.label {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Label Color Schemes */
.label-blue {
  background-color: #DEEBFF;
  color: #0d68d0;
  border: 1px solid #add1fb;
}

.label-blue:hover {
  background-color: #adceff;
}

.label-green {
  background-color: #e6f7e6;
  color: #4CAF50;
  border: 1px solid #81C784;
}

.label-green:hover {
  background-color: #c1f5c1;;
}

.label-beige {
  background-color: #FFF5E6;
  color: #FF9800;
  border: 1px solid #FFB74D;
}

.label-beige:hover {
  background-color: #fce3bd;;
}

/* Project Card Hover Effect */
.project-card:hover {
  transform: scale(1.05);
}

/* Responsiveness for smaller screens */
@media (max-width: 767px) {
  .project-card {
    flex-direction: column; 
    margin-bottom: 15px;
    width: 100%; 
  }

  .card-img {
    height: 200px; 
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .card-tags {
    flex-wrap: wrap;
    gap: 5px;
  }
}