/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  height: 40px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end; 
}

.navbar-nav .nav-item {
  margin-left: 32px;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #5AACCF;
}

/* Hero Section */
.hero {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  min-height: 70vh;
  height: auto;
  overflow: visible;
}

.hero .container .row .col-md-6 {
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.hero p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero p strong {
  font-weight: 700;
  color: #333;
}

.hero .img-fluid {
  box-shadow: none;
}

.hero .col-md-6 img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Sticky Menu */
.sticky-menu {
  position: sticky;
  top: 80px;
  padding: 15px;
  border-right: 1px solid #ddd;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.sticky-menu .sticky-menu-link {
  font-size: 1em;
  color: #4FA0FF;
  margin-bottom: 20px;
}

.sticky-menu .sticky-menu-link:hover {
  text-decoration: underline;
  color: #1a61b3;
}

/* Content Sections */
.content {
  display: flex;
  margin-top: 60px;
}

.content-main {
  padding-left: 20px;
}

.content h2 {
  padding-bottom: 5px;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  color: #333;
}

#overview, #problems, #research, #opportunity, #solutions {
  margin-bottom: 80px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 80px;
  scroll-margin-top: 120px; 
}

/* Problem Section */
#problems-content {
 margin-bottom: 40px;
}

.container-problem {
  background-color: #EBECF0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.container-problem h3 {
  font-size: 1.25rem;
  color: #333;
}

.container-problem p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

/* Research Section */
.container-style {
  background-color: rgba(222, 235, 255, 0.5);
  border-radius: 15px;
  padding: 20px 30px 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-style p {
  color: #333;
}

.container-style .fw-bold {
  font-weight: bold;
}

.container-style .fs-5 {
  font-size: 1.2rem;
}

#quote-text {
  font-size: 1.5rem;
  color: #80BBFF;
  opacity: 1;
  transition: opacity 1s ease-in-out, color 1s ease-in-out;
  margin-bottom: 30px;
}

#quote-container {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 20px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

/* Opportunity Section */
#opportunity p {
  color: #80BBFF;
  font-size: 1.5em;
  font-weight: 600;
}

/* Solutions Section */
.carousel {
  position: relative;
  margin-top: 20px;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.carousel-item video {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
  overflow: hidden;
}

/* Container for both the video caption and arrows */
.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  position: relative;
}

.video-caption {
  font-size: 1rem;
  color: #333;
  padding: 0 15px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.7;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* Takeaways Section */
#takeaways {
  margin-bottom: 120px;
  scroll-margin-top: 120px; 
}

/* Scrolling Effect */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

section.visible {
  opacity: 1;
  animation: fadeInUp 1s ease-out forwards;
}

/* Responsiveness for smaller screens */
/* Hide sticky menu */
@media (max-width: 767px) {
  .sticky-menu {
    display: none; 
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 30px 15px; 
  }

  #project-title {
    font-size: 2rem;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-md-6 {
    flex: 0 0 100%; 
    max-width: 100%;
  }

  .img-fluid {
    max-width: 100%; 
    height: auto;
  }
}

/* Adjust the layout of the main content */
@media (max-width: 767px) {
  .col-md-3, .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container-problem {
    margin-bottom: 15px;
  }
}

/* Make carousel images responsive */
@media (max-width: 767px) {
  .carousel-inner img {
    width: 100%;
  }
}

/* Adjust navbar */
@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none; 
  }

  .navbar-toggler.collapsed + .navbar-collapse {
    display: block; 
  }
}