/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  height: 40px;
}

/* Navigation Links */
.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item {
  margin-left: 32px;
}

.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #5AACCF;
}

/* Hero Section */
.hero {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  min-height: 70vh;
  height: auto;
  overflow: visible;
}

.hero .container .row .col-md-6 {
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.hero p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero p strong {
  font-weight: 700;
  color: #333;
}

.hero .img-fluid {
  box-shadow: none;
}

.hero .col-md-6 img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Sticky Menu */
.sticky-menu {
  position: sticky;
  top: 80px;
  /* Adjust for navbar height */
  padding: 15px;
  border-right: 1px solid #ddd;
  height: calc(100vh - 80px);
  /* Full height minus navbar */
  overflow-y: auto;
  /* Scrollable if content overflows */
}

.sticky-menu .sticky-menu-link {
  font-size: 1em;
  color: #4FA0FF;
  margin-bottom: 20px;
  /* Add space between links */
}

.sticky-menu .sticky-menu-link:hover {
  text-decoration: underline;
  color: #1a61b3;
}

/* Content Sections */
.content {
  display: flex;
  margin-top: 40px;
}

.content-main {
  padding-left: 20px;
}

.content h2 {
  margin-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  color: #333;
}

#overview, #problems, #research, #opportunity, #solutions {
  margin-bottom: 60px; /* Increased space between sections */
  border-bottom: 1px solid #d3d3d3; /* Light gray border at the bottom */
  padding-bottom: 60px; /* Space between content and border */
}

#takeaways {
  margin-bottom: 120px; /* Increased space between sections */
}

/* Containers for Aesthetics and Functionality */
.container-problem {
  background-color: #EBECF0;
  /* Light background for contrast */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  /* Make containers take up full height of their parent */
}

.container-problem h3 {
  font-size: 1.25rem;
  color: #333;
}

.container-problem p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

/* Style for the research subsections */
.container-style {
  background-color: rgba(222, 235, 255, 0.5);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-style p {
  color: #333;
  /* Text color for paragraphs */
}

.container-style .fw-bold {
  font-weight: bold;
  /* Ensure the font-weight is bold */
}

.container-style .fs-5 {
  font-size: 1.2rem;
  /* Adjust font size for headers */
}

#quote-text {
  font-size: 1.5rem;
  color: #80BBFF; /* Initial lighter blue color */
  opacity: 1;
  transition: opacity 1s ease-in-out, color 1s ease-in-out; /* Added color transition */
}

#quote-container {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 20px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

#opportunity p {
  color: #80BBFF;
  /* Make the text blue */
  font-size: 1.5em;
  /* Make the text bigger */
  font-weight: 600;
  /* Make the text bold */
}

/* Carousel Styles */
.carousel {
  position: relative;
  margin-top: 20px;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.carousel-item video {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
  overflow: hidden;
}

/* Create a container for both the video caption and arrows */
.caption-container {
  display: flex;
  justify-content: space-between;
  /* Ensure caption and arrows are spaced out */
  align-items: center;
  /* Vertically center content */
  margin-top: 20px;
  /* Space between video and caption/arrows */
  margin-bottom: 20px;
  padding: 0 15px;
  /* Add padding for spacing */
  position: relative;
}

.video-caption {
  font-size: 1rem;
  color: #333;
  padding: 0 15px;
  flex-grow: 1;
  /* Allow the caption to take up available space */
  text-align: center;
  /* Ensure caption is centered horizontally */
  margin: 0;
}

/* Position custom arrows correctly */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  /* Larger arrows */
  z-index: 1;
  width: 30px;
  /* Adjust width */
  height: 30px;
  /* Adjust height */
}

/* Style the arrows (ensure they're gray by default) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* Make sure there's no background color */
}

/* Hover effect for arrows */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.7;
  /* Darker arrows on hover */
}

/* Position left and right arrows */
.carousel-control-prev {
  left: 10px;
  /* Position left arrow */
}

.carousel-control-next {
  right: 10px;
  /* Position right arrow */
}