/* All Pages */
/* Font */
h1, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.shop-logo {
    width: 400px;
}

hr.solid {
    border-top: 5px solid black;
}

/* Navigation */
.navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.current-page {
    color: black;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.other-page {
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

/* Heading */
.heading {
    font-size: 32px;
    font-weight: normal;
    margin-top: 40px;
}

/* Body */
.product-gallery-main, .product-detail-main, .shopping-cart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.add-to-cart-button, .checkout-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
    background-color: yellow;
    
}

.add-to-cart-button{
    margin-left: 30px;
}

.checkout-button{
    margin-top: 30px;
}


/* Individual Pages */
/* Product Gallery Page */
a {
    text-decoration: none;
}

.product-gallery-image {
    width: 300px;
    height: 300px;
    border: 3px solid black;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px; 
  padding: 10px;
}

.product:hover {
    cursor: pointer;
    background-color: yellow;
}

.product:hover .product-name {
    font-weight: bold;
}

.product-description {
    width: 300px;
}

.product-name, .product-gallery-price {
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}



/* Product Detail Page */
.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px; 
}

.product-detail-image {
    width: 600px;
    height: 600px;
    border: 3px solid black;
}

.customization-instructions {
    font-size: 20px;
    width: 260px;
}

.glazing-customization, .pack-size-customization {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.glazing-customization select, .pack-size-customization select {
    width: 260px;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}

.add-to-cart-action {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.product-detail-price {
    font-size: 20px;
    font-weight: bold;
}



/* Shopping Cart Page */
.shopping-cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.shopping-cart-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.shopping-cart-image {
    width: 150px;
    height: 150px;
    border: 3px solid black;
}

.remove-item {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.shopping-cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.item-name, .glazing, .pack-size, .shopping-cart-price {
    font-size: 28px;
    margin: 0px;
}

.total-price {
    font-size: 28px;
    margin: 40px 0px 0px 0px;
}

.checkout-action {
    width: 600px;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}